.breadcrumbs {
  --cssuiBreadcrumbsTextColor: var(--breadcrumbsTextColor);
  --cssuiBreadcrumbsTextColorActive: var(--breadcrumbsTextColorActive);
  --cssuiBreadcrumbsDivider: var(--breadcrumbsDivider);
  --cssuiBreadcrumbsDividerColor: var(--breadcrumbsDividerColor, inherit);
  --cssuiBreadcrumbsDividerSize: var(--breadcrumbsDividerSize, 16px);
  --cssuiBreadcrumbsIndent: var(--breadcrumbsIndent, 8px);

  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs__item {
  display: inline-block;
  position: relative;

  padding-right: calc(var(--cssuiBreadcrumbsDividerSize) + var(--cssuiBreadcrumbsIndent));
  margin-right: var(--cssuiBreadcrumbsIndent);

  color: var(--cssuiBreadcrumbsTextColor);
}

.breadcrumbs__item:after {
  content: var(--cssuiBreadcrumbsDivider);
  width: var(--cssuiBreadcrumbsDividerSize);
  height: var(--cssuiBreadcrumbsDividerSize);

  line-height: 1;
  text-align: center;

  font-family: "Arial", sans-serif;
  font-size: var(--cssuiBreadcrumbsDividerSize);
  color: var(--cssuiBreadcrumbsDividerColor);

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.breadcrumbs__item_active {
  margin-right: 0;
  padding-right: 0;
  color: var(--cssuiBreadcrumbsTextColorActive);
}

.breadcrumbs__item_active:after {
  display: none;
}

.breadcrumbs__element {
  color: inherit;
}

.breadcrumbs {
  --breadcrumbsTextColor: #d1c4e9;
  --breadcrumbsTextColorActive: #fff;
}

.breadcrumbs_type5 {
  --breadcrumbsDivider: "›";
  --breadcrumbsDividerSize: 20px;
}

.breadcrumbs__item a {
  text-decoration: none;
  color: #d1c4e9;
}

.title {
  margin-top: 0;
  margin-bottom: 2rem;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.page__demo {
  flex-grow: 2;
  padding-bottom: 5rem;
}

.main-container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.page__container {
  max-width: 600px;
}

.page__section {
  margin-top: 5rem;
  padding: 2rem 3rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background-color: #512da8;
  color: #fff;
  border-radius: 2px;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 1.4rem;
}

@media screen and (min-width: 641px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
  }

  .melnik909 {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .melnik909 {
    display: none;
  }
}
