.grid_section {
  display: block;
  width: 100%;
  padding: 10px;
}

.check {
  position: relative;
}

.lazy_folder {
  background: rgb(78, 84, 94);
  border-radius: 100px;
  padding: 15px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  user-select: none;
  min-width: 200px;
  float: left;
  text-decoration: none;
  margin: 10px;
}
