.error {
  background-color: $color-error;
}

.success {
  background-color: $color-active;
}

.warning {
  background-color: $color-warn;
}

.info {
  background-color: $color-special;
}

.default {
  background-color: $color-primary;
}

@media only screen and (max-width:560px) {
  .snackbar__wrap {
    width: 100%!important;
  }
}
  
.close-btn {
  padding: 8px 12px;
  margin: -8px -6px -8px 20px;
  color: #f8fbff;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  transition: background-color 0.25s ease;
}
.close-btn:hover {
  background-color: rgba(68, 138, 255, 0.1);
}
.close-btn:active {
  background-color: rgba(68, 138, 255, 0.2);
  transition-duration: 0.35s;
}

.snackbar {
  position: fixed;
  display: flex;
  will-change: transform, opacity;
  z-index: 999;
}
.snackbar--bottom-right {
  right: 20px;
  bottom: 20px;
}
.snackbar--bottom-center {
  left: 0;
  right: 0;
  bottom: 0;
}
.snackbar--bottom-left {
  left: 20px;
  bottom: 20px;
}
.snackbar--top-right {
  right: 20px;
  top: 20px;
}
.snackbar--top-center {
  left: 0;
  right: 0;
  top: 0;
}
.snackbar--top-left {
  left: 20px;
  top: 20px;
}
.snackbar__wrap {
  min-width: 400px;
  margin: auto;
  padding: 15px;
  // background-color: #323232;
  box-sizing: border-box;
}
.snackbar__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}

.snackbar-enter-active,
.snackbar-leave-active {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.snackbar--bottom-center.snackbar-enter,
.snackbar--bottom-center.snackbar-leave-to {
  opacity: 0.5;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.snackbar--top-center.snackbar-enter,
.snackbar--top-center.snackbar-leave-to {
  opacity: 0.5;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.snackbar--bottom-left.snackbar-enter,
.snackbar--bottom-left.snackbar-leave-to,
.snackbar--bottom-right.snackbar-enter,
.snackbar--bottom-right.snackbar-leave-to {
  opacity: 0.5;
  -webkit-transform: translate3d(0, calc(100% + 20px), 0);
  transform: translate3d(0, calc(100% + 20px), 0);
}

.snackbar--top-left.snackbar-enter,
.snackbar--top-left.snackbar-leave-to,
.snackbar--top-right.snackbar-enter,
.snackbar--top-right.snackbar-leave-to {
  opacity: 0.5;
  -webkit-transform: translate3d(0, calc(-100% - 20px), 0);
  transform: translate3d(0, calc(-100% - 20px), 0);
}