# General files
*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.swo
*.swp
*.tgz
*.xml
coverage
.DS_Store
node_modules
dist

# build files
client/dist
client/node_modules

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
.project
.strong-pm
*.sublime-*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
